.about {
  background-color: white;
  font-size: 1em;
}

.profile {
  max-width: 18em;
}

.my-details {
  background-color: #f5f5f5;
}
.color {
  color: white;
}

.font-details-about {
  color: #000000;
}
